<h1>
    Seccion de productos
</h1>

<nav style="display:flex;gap:1em;">
    <li>
        <%= link_to "Ver fotos", photos_path %>
    </li>
    <li>
        <%= link_to "Crear fotos", new_photo_path %>
    </li>
</nav>