<h1>Fotos</h1>

<%= content_for :sidebar_options do %>
    <p>Hola desde fotos/index</p>
<%end%>

<%= link_to "Nuevo", new_photo_path %>

<%= hero_banner do %>
    <h1>Hola Mundo</h1>
<%end%>

<%# render partial: "header", layout: "main/hero"%>

<%= render @photos %>

<%# render partial: "photos/foto", collection: @photos, as: :photo %>

<%# @photos.each do |photo| %>
    <%# render photo %>
<%# end %>
