<p> Intentos: <%= session[:intentos] %> </p>
<%# render "form", photo: @photo, nombre: "Gerardo" %>
<%# render partial: "form", locals: {nombre: "Gerardo", photo: @photo}%>
<%= render "form"%>
<!--
<form action="<%= photos_path %>" method="post">
-->
